In [160]:
# Step 1. Import the necessary libraries
import pandas as pd

In [161]:
# Step 2. Import the dataset
# Step 3. Assign it to a variable called df
df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep='\t', header=0)

In [162]:
# Step 4. See the first 10 entries
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [163]:
# Step 5. What is the number of observations in the dataset?
# Solution 1
df.shape[0]

4622

In [164]:
# Solution 2
len(df.index)

4622

In [165]:
# Step 6. What is the number of columns in the dataset?
df.shape[1]

5

In [166]:
# Step 7. Print the name of all the columns.
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [167]:
# Step 8. How is the dataset indexed?
df.index

RangeIndex(start=0, stop=4622, step=1)

In [168]:
# Step 9. Which was the most-ordered item? how many items were ordered?
df_most_order_item = df.groupby(["item_name"]).agg({"quantity":"sum"}).sort_values("quantity", ascending=False)
df_most_order_item.head(1)

              quantity
item_name
Chicken Bowl       761

In [169]:
# Step 10. What was the most ordered item in the choice_description column?
df_most_choice_desc =  df.groupby("choice_description").agg({"quantity":"sum"}).sort_values("quantity", ascending=False)
df_most_choice_desc.head(1)

                    quantity
choice_description
[Diet Coke]              159

In [170]:
# Step 12. How many items were orderd in total?
df["quantity"].sum()

4972

In [171]:
# Step 13. Turn the item price into a float
# Step 13.a. Check the item price type
df["item_price"].dtype

dtype('O')

In [172]:
# Step 13.b. Create a lambda function and change the type of item price
df["item_price"] = df["item_price"].apply(lambda x : x.replace("$", ""))
df["item_price"] = df["item_price"].astype('float')

In [173]:
# Step 13.c. Check the item price type
df["item_price"].dtype

dtype('float64')

In [183]:
# Step 14. How much was the revenue for the period in the dataset?
revenue = (df["quantity"] * df["item_price"]).sum()
revenue

39237.02

In [205]:
# Step 15. How many orders were made in the period?
order = df["order_id"].value_counts().count()
order

1834

In [233]:
# Step 16. What is the average revenue amount per order?
df["revenue"] = (df["quantity"] * df["item_price"])
c = df.groupby("order_id").sum()
c.mean()["revenue"]

21.39423118865867

In [242]:
# Step 17. How many different items are sold?
#len(df["item_name"].unique())
df.item_name.value_counts().count()

50